{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<h1>Connexion</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button type="submit">connexion</button>
{{form_end(form)}}



{% endblock %}
